body {
    background-color: #779;
    font-family: monospace;
}

section {
    background-color: #668;
    margin: 2rem;
    border: solid black 2px;
    padding: 0.5rem 2rem;
}

section h2 {
    background-color: #668;
}

dt {
    font-style: italic;
}

dd:before {
    content: '\25CA  ';
}

.content {
    display: block;
    margin: 0 auto;
}